# The directory Mix will write compiled artifacts to.
*_build/

# If you run "mix test --cover", coverage assets end up here.
*cover/

# The directory Mix downloads your dependencies sources to.
*deps/

# Where third-party dependencies like ExDoc output generated docs.
*doc/

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Temporary files, for example, from tests.
/tmp/
init.sql
*priv/static/favicon.ico
apps/messaging_service/priv/static/favicon.ico
apps/messaging_service/priv/static/robots.txt
apps/messaging_service/priv/gettext/errors.pot
apps/messaging_service/priv/static/images/logo.svg
.vscode/settings.json
